<a href="https://colab.research.google.com/github/LikaAlfi/week03/blob/main/week03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('python is powerful')

python is powerful

In [ ]:
print('Good Morning!')
print('It is rainy today')

Good Morning!
It is rainy today

In [ ]:
# print with end  whitespace
#print('Good Moring!', end= ' ')

print('Good Morning!', end = ' ')
print('It is rainy today')

Good Morning! It is rainy today

In [ ]:
print ('New Year', 2023, 'See you Soon!', sep= '. ')

New Year. 2023. See you Soon!

In [ ]:
number = -10.6

name = "Teknologi Infoirmasi"

# print literals
print(5)

# print variables
print(number)
print(name)

5
-10.6
Teknologi Infoirmasi

In [ ]:
print('Teknologi Informasi ' + ' Universitas Tidar')

Teknologi Informasi  Universitas Tidar

In [ ]:
x = 5
y = 10

print('The value of x is{} and y is {}' .format(x,y))

The value of x is5 and y is 10

In [ ]:
# usin input() to take user input
num = input('Enter a number: ')

print('You Entered: ' , num)

print('Data type of num:' , type(num))

Enter a number: 45
You Entered:  45
Data type of num: <class 'str'>

In [ ]:
!pip install wget

Collecting wget
  Downloading wget-3.2.zip (10 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: wget
  Building wheel for wget (setup.py) ... done
  Created wheel for wget: filename=wget-3.2-py3-none-any.whl size=9656 sha256=1de7f849c4d0910927622a7dde179d7ad7900c63c1aa89e7c213b8550906ae17
  Stored in directory: /root/.cache/pip/wheels/8b/f1/7f/5c94f0a7a505ca1c81cd1d9208ae2064675d97582078e6c769
Successfully built wget
Installing collected packages: wget
Successfully installed wget-3.2

In [ ]:
# Download Example file
!mkdir -p /resources/data
!wget -O /resources/data/Example1.txt https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/labs/example1.txt

--2024-09-06 09:30:47--  https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/labs/example1.txt
Resolving s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)... 67.228.254.196
Connecting to s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)|67.228.254.196|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 45 [text/plain]
Saving to: ‘/resources/data/Example1.txt’

/resources/data/Exa 100%[===================>]      45  --.-KB/s    in 0s

2024-09-06 09:30:48 (13.9 MB/s) - ‘/resources/data/Example1.txt’ saved [45/45]

In [ ]:
# Read the Example1.txt

example1 = "/resources/data/Example1.txt"
file1 = open(example1, "r")

In [ ]:
# Print the path of file

file1.name

'/resources/data/Example1.txt'

In [ ]:
# Print the mode of file, either 'r' or 'w'

file1.mode

'r'

In [ ]:
# Read the file

FileContent = file1.read()
FileContent

'This is line 1 \nThis is line 2\nThis is line 3'

In [ ]:
# Print the file with '\n'as a new line

print(FileContent)

This is line 1
This is line 2
This is line 3

In [ ]:
# Type of file content

type(FileContent)

str

In [ ]:
# Close file after finish

file1.close()

In [ ]:
# Open file using with

with open(example1, "r") as file1:
    FileContent = file1.read()
    print(FileContent)

This is line 1
This is line 2
This is line 3

In [ ]:
# Verify if the file is closed

file1.closed

True

In [ ]:
# See the countent of file

print(FileContent)

This is line 1
This is line 2
This is line 3

In [ ]:
# Read first four characters

with open(example1, "r") as file1:
    print(file1.read(4))

This

In [ ]:
# Read certain amount of characters

with open(example1, 'r') as file1:
    print(file1.read(4))
    print(file1.read(4))
    print(file1.read(7))
    print(file1.read(15))

This
 is
line 1

This is line 2

In [ ]:
# Read certain amount of characters

with open(example1, "r") as file1:
    print(file1.read(16))
    print(file1.read(5))
    print(file1.read(9))

This is line 1

This
is line 2

In [ ]:
# Read one line

with open(example1, "r") as file1:
    print("first line: " + file1.readline())

first line: This is line 1

In [ ]:
# Iterate through the lines

with open(example1, "r") as file1:
        i = 0
        for line in file1:
            print("Iteration", str(i), ": ", line)
            i = i + 1

Iteration 0 :  This is line 1

Iteration 1 :  This is line 2

Iteration 2 :  This is line 3

In [ ]:
# Read all lines and save as a list

with open(example1, "r") as file1:
    FileasList = file1.readlines()

In [ ]:
# Print the first line

FileasList[0]

'This is line 1 \n'

In [ ]:
# Print the second line

FileasList[1]

'This is line 2\n'

In [ ]:
# Print the third line

FileasList[2]

'This is line 3'

In [ ]:
!mkdir -p /resources/data

In [ ]:
# Write line to file

with open('/resources/data/Example2.txt', 'w') as writefile:
    writefile.write("This is line A")

In [ ]:
# Read file

with open('/resources/data/Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

This is line A

In [ ]:
# Write lines to file

with open('/resources/data/Example2.txt', 'w') as writefile:
    writefile.write("This is line A\n")
    writefile.write("This is line B\n")

In [ ]:
# Check whether write to file

with open('/resources/data/Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B

In [ ]:
# Write a new line to text file

with open('/resources/data/Example2.txt', 'a') as testwritefile:
    testwritefile.write("This is line C\n")

In [ ]:
# Verify if the new line is in the text file

with open('/resources/data/Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B
This is line C

In [ ]:
# Sample list of text

Lines = ["This is line A\n", "This is line B\n", "This is line C\n"]
Lines

['This is line A\n', 'This is line B\n', 'This is line C\n']

In [ ]:
# Write the strings in the list to text file

with open('Example2.txt', 'w') as writefile:
    for line in Lines:
        print(line)
        writefile.write(line)

This is line A

This is line B

This is line C

In [ ]:
# Verify if writing to file is succesfully executed

with open('Example2.txt', 'r')as testwritefile:
    print(testwritefile.read())

This is line A
This is line B
This is line C

In [ ]:
# Append the line to the file

with open ('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B
This is line C

In [ ]:
# Verify if the appending is successfully executed

with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B
This is line C

In [ ]:
# Copy file to another

with open('Example2.txt','r') as readfile:
    with open('Example3.txt','w') as writefile:
          for line in readfile:
                writefile.write(line)

In [ ]:
# Verify if the copy is successfully executed

with open('Example3.txt','r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B
This is line C

In [23]:
!mkdir -p /resources/data

In [28]:
with open('/resources/data/biodatalika.txt', 'w') as writefile:
    writefile.write("Nama   : Fadlika Alfi Nurrochmah\n")
    writefile.write("Prodi  : Teknologi Informasi\n")
    writefile.write("NPM    : 2410506010\n")
    writefile.write("Alamat : Ceme,Tampir Kulon, Candimulyo, Magelang\n")
    writefile.write("Hobi   : Membaca\n")
    writefile.write("Email  : fadlikalika06@gmail.com\n")

In [29]:
with open('/resources/data/biodatalika.txt', 'r') as testwritefile:
    print(testwritefile.read())

Nama   : Fadlika Alfi Nurrochmah
Prodi  : Teknologi Informasi
NPM    : 2410506010
Alamat : Ceme,Tampir Kulon, Candimulyo, Magelang
Hobi   : Membaca
Email  : fadlikalika06@gmail.com

In [32]:
Lines = ["Nama : Fadlika Alfi Nurrochmah\n", "Prodi : Teknologi Informasi\n", "Email : fadlikalika06.com\n"]
Lines

['Nama : Fadlika Alfi Nurrochmah\n',
 'Prodi : Teknologi Informasi\n',
 'Email : fadlikalika06.com\n']

In [40]:
# Membaca file biodatalika.txt dalam mode membaca
with open('/resources/data/biodatalika.txt', 'r') as readfile:
    with open('/resources/data/biodatalika2.txt', 'w') as writefile:
        # Membaca baris per baris
        for line in readfile:
           # Memeriksa apakah baris telah mengandung data yang kita inginkan
           if any(keyword in line for keyword in ["Nama", "NPM", "Prodi", "Alamat"]):
              # Menulis baris yang sesuai ke file baru
              writefile.write(line)

In [41]:
with open('/resources/data/biodatalika2.txt', 'r') as testwritefile:
    print(testwritefile.read())

Nama   : Fadlika Alfi Nurrochmah
Prodi  : Teknologi Informasi
NPM    : 2410506010
Alamat : Ceme,Tampir Kulon, Candimulyo, Magelang

In [14]:
from re import S
print("Selamat Datang di Toko Maju Jaya")
print("Senin, 4 September 2023 13.05")
print("")
print("Daftar Belanja :")
item1 = 'sabun'
item2 = 'Shampo'
item3 = 'MieInstant'
item4 = 'Detergen'
harga1 = 10000
harga2 = 15000
harga3 = 5000
harga4 = 17500

total = harga1+harga2+harga3+harga4
print("")
print("sabun      = ", harga1)
print("shampo     = ", harga2)
print("MieInstant = ", harga3)
print("Detergen   = ", harga4)
print(" ")
print("Total      = ", total)

with open("Kuitansi.txt", "w") as writefile:
    writefile.write("Selamat Datang di Toko Maju Jaya\n")
    writefile.write("\n")
    writefile.write("Kuitansi - 4 September 2023\n\n")
    writefile.write("\n")
    writefile.write(f"{item1} = Rp {harga1}\n")
    writefile.write(f"{item2} = Rp {harga2}\n")
    writefile.write(f"{item3} = Rp {harga3}\n")
    writefile.write(f"{item4} = Rp {harga4}\n")
    writefile.write("\n")
    writefile.write("total belanja = Rp {total}")

Selamat Datang di Toko Maju Jaya
Senin, 4 September 2023 13.05

Daftar Belanja :

sabun      =  10000
shampo     =  15000
MieInstant =  5000
Detergen   =  17500

Total      =  47500